.desktop-sidebar {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  top: 4rem;
  width: 12rem;
  border-right: 1px solid var(--border-color);
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin-top: 1rem;
}

.sidebar-menu-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  color: var(--white-text);
  font-size: 1rem;
  width: 86%;
  padding: 1.2rem 0rem 1.2rem 1.7rem;
}

.sidebar-menu-icon {
  margin-right: 0.5rem;
  font-size: 1.7rem;
  color: var(--white-text);
}

.sidebar-active {
  background-color: var(--primary-hover);
}

.mobile-bottom-bar-item a:hover {
  color: var(--primary-hover);
}
/* Styles for mobile bottom bar */
.mobile-bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  background-color: var(--background-color);
  display: none;
  justify-content: space-around;
  padding: 0.8rem 0;
  border-top: 2px solid var(--border-color);
}

.mobile-bottom-bar-item {
  flex: 1;
  text-align: center;
  list-style: none;
}

.mobile-bottom-bar-item .mobile-bottom-bar-icon {
  font-size: 2rem;
  color: var(--white-text);
}

.mobile-bottom-bar-icon:hover {
  color: var(--primary-hover);
}

@media screen and (max-width: 767px) {
  .desktop-sidebar {
    display: none;
  }
  .mobile-bottom-bar {
    display: flex;
  }
}
