.topbar-container {
  position: sticky;
  top: 0;
  z-index: 6;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  height: 2rem;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--border-color);
  cursor: pointer;
}

.topbar-logo-container {
  display: flex;
  align-items: center;
}

.topbar-logo-image {
  height: 2.5rem;
  margin-right: 0.5rem;
}

.topbar-logo-text {
  font-weight: bold;
  color: var(--white-text);
  font-size: 2rem;
}

input:focus {
  outline: none;
  color: var(--white-text);
}

.topbar-search {
  border-radius: 15px;
  border: 1px solid var(--border-color);
  border-width: 0.1px 0.1px 3.5px 0.1px;
  display: flex;
  align-items: center;
  height: 1.7rem;
  padding: 0.3rem;
  width: 30rem;
}

.topbar-search input {
  background-color: transparent;
  border: none;
  font-size: 0.8rem;
  padding: 0.5rem;
  width: 100%;
}

.topbar-search .search-icon {
  color: var(--white-text);
}

.topbar-icons {
  display: flex;
  align-items: center;
}

.topbar-icons svg {
  margin-left: 1rem;
  font-size: 1.8rem;
  color: var(--white-text);
}

@media screen and (max-width: 767px) {
  .topbar {
    padding: 1.1rem 0.2rem;
  }

  .topbar-logo-image {
    height: 1.7rem;
    margin: 0 0.2rem;
  }

  .topbar-logo-text {
    font-size: 1.2rem;
  }

  .topbar-search {
    margin-left: 2rem;
    width: 60%;
    height: 1rem;
    padding: 0.5rem;
  }

  .topbar-icons svg {
    margin-left: 0.2rem;
    font-size: 1.7rem;
  }
}
