.topbar-container {
  position: sticky;
  top: 0;
  z-index: 6;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  height: 2rem;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--border-color);
  cursor: pointer;
}

.topbar-logo-container {
  display: flex;
  align-items: center;
}

.topbar-logo-image {
  height: 2.5rem;
  margin-right: 0.5rem;
}

.topbar-logo-text {
  font-weight: bold;
  color: var(--white-text);
  font-size: 2rem;
}

input {
  outline: none;
  color: var(--white-text);
}

.topbar-search {
  border-radius: 15px;
  border: 1px solid var(--primary-color);
  display: flex;
  align-items: center;
  height: 1.7rem;
  padding: 0.3rem;
  width: 30rem;
}

.topbar-search input {
  background-color: transparent;
  border: none;
  font-size: 0.8rem;
  padding: 0.5rem;
  width: 100%;
}

.search-icon {
  color: var(--white-text);
}

.topbar-icons {
  display: flex;
  align-items: center;
}

.topbar-icons svg {
  margin-left: 0.6rem;
  font-size: 2rem;
  color: var(--white-text);
}
.mobile-search-container {
  display: none;
}

@media screen and (max-width: 767px) {
  .topbar {
    padding: 1.1rem 0.4rem;
    border: none;
  }

  .topbar-search {
    display: none;
  }
  .mobile-search-container {
    background-color: var(--background-color);
    display: flex;
    padding-bottom: 0.8rem;
  }
  .mobile-search {
    display: flex;

    border-radius: 1rem;
    margin: 0 0.4rem;
    border: 1px solid var(--primary-color);
    align-items: center;
    height: 1.7rem;
    padding: 0.3rem;
    width: 95%;
  }
  .mobile-search-container input {
    background-color: transparent;
    border: none;
    font-size: 0.8rem;
    padding: 0.5rem;
    width: 100%;
  }
}
