.search-results {
  background-color: #f7f7f7;
  width: 100%;
  max-width: 30rem;
  backdrop-filter: blur(5px) saturate(180%);
  -webkit-backdrop-filter: blur(5px) saturate(180%);
  position: absolute;
  top: 3.2rem;
  border-radius: 1px;
  height: 20rem;
  overflow-y: scroll;
  border-radius: 0.5rem;
}

.search-message {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.searched-item {
  display: flex;
  gap: 0.2rem;
  padding: 1rem 0.5rem;
  align-items: center;
  cursor: pointer;
}

.searched-item-details {
  display: flex;
  gap: 0.5rem;
  text-align: left;
}

.searched-item-details .thumbnail {
  width: 5rem;
  height: 3rem;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .search-results {
    top: 6.5rem;
    width: 95%;
  }
}
