.likes-container {
  background-color: var(--dark-background-color);
  color: var(--white-text);
}
.likes-container-header {
  margin-left: 12.2rem;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .likes-container-header {
    margin-left: 0rem;
  }
}
