* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

.pagewrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: var(--dark-background-color);
}

.middle-content {
  flex-grow: 1;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  background-color: transparent;
  width: 0.1rem;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  background-color: var(--primary-color);
  border-radius: 1rem;
}
:root {
  --dark-background-color: #121212;
  --background-color: #191921;
  --primary-color: #9e83c2;
  --secondary-color: #1a202c;
  --white-text: hsla(0, 0%, 100%, 0.87);
  --secondary-text: #909090;
  --primary-hover: #353542;
  --border-color: rgba(104, 97, 97, 0.328);
  --boxshadow-color: rgba(0, 0, 0, 0.3);
  --danger: #f44336;
}

/* Shared CSS */
.shared-container {
  margin-left: 12.2rem;
  padding: 1rem;
  color: var(--white-text);
}
.shared-video-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.shared-video-card {
  display: flex;
  text-align: left;
  flex-direction: column;
  cursor: pointer;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 0.1rem;
  background-color: var(--background-color);
  color: var(--white-text);
}
@media screen and (max-width: 767px) {
  .shared-container {
    margin-left: 0rem;
  }
  .shared-video-card {
    margin: 1rem 0rem;
    padding: 0rem;
  }
}
