* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

.pagewrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.middle-content {
  flex-grow: 1;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  background-color: transparent;
  width: 0.1rem;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  background-color: var(--primary-color);
  border-radius: 1rem;
}
:root {
  --dark-background-color: #121212;
  --background-color: #191921;
  --primary-color: #9e83c2;
  --secondary-color: #1a202c;
  --white-text: hsla(0, 0%, 100%, 0.87);
  --secondary-text: #909090;
  --primary-hover: #a18fb8;
  --border-color: rgba(104, 97, 97, 0.328);
  --tools-bg: rgba(104, 76, 109, 0.76);
  --boxshadow-color: rgba(0, 0, 0, 0.3);
  --danger: #f44336;
}
